@page "/"

<div class="top">
    <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-9">
            <div class="mat-layout-grid-inner">
                <Top />
            </div>
        </div>
        <Aside />
    </div>
</div>
    
</div>
<div class="sobre">
    <SobreMim />
</div>

