<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell-span-12">
            <p>
                Trabalho na área de desenvolvimento web desde 2012 mas comecei a programar aos 8 anos por pura curiosidade.
            </p>
            <p>
                Minha curiosidade me move e busco a oportunidade de sempre aumentar meu conhecimento.
                Atuei em empresas que utilizavam tecnologias como, CakePHP, Symphony, Django, WordPress e Angular mas continuei estudando outras stacks e linguagens. 
            </p>
            <p>   
                Hoje busco oportunidades na área e gostaria de poder mostrar o potencial que sei que eu tenho.
            </p>
        </div>
    </div>
</div>
